body {
  padding: 0;
  margin: 0;
}

#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 750px;  
  width: 100%;  
}

body,
html {
  height: 100%;
}

.legend {
  line-height: 18px;
  color: #555;
  border-radius: 25px;
  background-color: rgb(238, 240, 241);
  opacity: 0.95;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.4;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#panel1,#panel2,#panel3, #flip {
  padding: 5px;
  text-align: center;
  background-color: #17a2b8!important;
}

#panel1,#panel2,#panel3 {
  padding: 50px;
  display: none;
}