body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 18px;
  color: #555;
  border-radius: 25px;
  background-color: rgb(238, 240, 241);
  opacity: 0.95;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.4;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}